<section class="about" id="about">
    <div class="background">

        <aside class="profile-card">
            <header>
                <a>
                    <img src="../../../../assets/images/drj_profile.jpg">
                </a>
                <h1>Dheeraj Thodupunuri</h1>
            </header>
            <div class="profile-bio">

                <p>Hello there!</p>
                <p>Proficient in developing web-based applications using Microsoft tecnhologies.NET Framework and .NET Core, Angular 2+, Angular JS, Microservices, MVC, ASP.NET, ADO.NET, Web API, and SQL server, PostgreSQL, JavaScript, Typescript, Azure
                    Blob storage, Azure App Service , Azure Key Vault , Azure Insights, Azure SQL Database , Python Flask , VueJs .
            </div>
        </aside>


    </div>
</section>