<section class="skill" id="skill">
    <div class="card card-flip h-100">
        <div class="card-front text-white">
            <div class="card-body">
                <img src="{{skill.Background}}" />
                <span>{{skill.SkillName}}</span>
            </div>
        </div>
        <div class="card-back">
            <div class="card-body">
                <h3>Skill level</h3>
                <p>{{skill.Rating}}</p>
                <p>{{skill.Proficiency}}</p>
            </div>
        </div>
    </div>
</section>