<section id="header" class="header">
    <nav>
        <ul class="menu">
            <li class="logo"><a href="#">Dheeraj Thodupunuri</a></li>
            <li class="item" *ngIf="canShowMenuItems"><a href="#about">About</a></li>
            <li class="item" *ngIf="canShowMenuItems"><a href="#work-experience">Work Experience</a></li>
            <li class="item" *ngIf="canShowMenuItems"><a href="#projects">Projects</a></li>
            <li class="item" *ngIf="canShowMenuItems"><a href="#skills-section">Skills</a></li>
            <li class="item" *ngIf="canShowMenuItems"><a href="#education">Education</a></li>
            <li class="item" *ngIf="canShowMenuItems"><a href="#contact">Contact</a></li>
            <li class="toggle"><a href="#"><i class="fa fa-bars"></i></a></li>
        </ul>
    </nav>
</section>