<section class="introduction" id="introduction">

    <div class="container">
        <h1>Dheeraj Thodupunuri</h1>
        <!-- <h2>Full Stack Developer</h2> -->
        <h3>Software Engineer II At Facstet</h3>
        <p>I'm a <span class="fsd">Full Stack Developer</span> proficient in working with both <span class="fsd"> front-end </span> and <span class="fsd">back-end development.</span></p>
        <p class="scrolling">Start <a href="#about" style="text-decoration: none;"><span class="fsd">scrolling</span></a> and learn more <a href="#about" style="text-decoration: none;"><span class="fsd">about me.</span></a></p>
        <div class="buttons">
            <a href="#contact"> <button class="info-button">Hire Me!</button></a>
            <a href="https://drive.google.com/file/d/1nb0YZjlP-QiDlIZt1od_Mcs_uMKMYVTy/view?usp=sharing" target="_blank">
                <button class="info-button">Download CV</button>
            </a>
        </div>

    </div>
    <hr>
    <div class="social-links" id="social-links">
        <a href="https://www.linkedin.com/in/dheeraj-thodupunuri-39897b114/" class="links"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/dheerajthodupunoori?tab=repositories" class="links"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/thodupunooridheeraj/" class="links"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/DheerajDiraj" class="links"><i class="fa fa-twitter"></i></a>
        <a href="https://dheerajthodupunoori.medium.com/" class="links"><i class="fa fa-medium"></i></a>
        <a href="#" class="links"><i class="fab fa-hackerrank"></i></a>
    </div>
    <a href="#about" class="bottom-icon"><i class="fa fa-chevron-circle-down"></i></a>
</section>