.introduction {
    position: relative;
    background: url(src/assets/images/header-background.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 10px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-icon {
    font-size: 50px;
    color: black;
    position: absolute;
    bottom: 0px;
}

.bottom-icon :hover {
    font-size: 70px;
    color: rgb(202, 35, 13);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-button {
    padding: 10px;
    border-radius: 40px;
    margin: 5px;
    color: #fff !important;
    background: #404040;
}

.info-button:hover {
    font-weight: 700;
    transition: all 0.3s ease 0s;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-bottom: 5px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-bottom: 5px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-bottom: 5px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    justify-content: center;
}

.fsd {
    color: rgb(255, 102, 0);
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a.links {
    padding-right: 20px;
    color: rgb(202, 35, 13);
    font-size: 40px;
}

a.links:hover {
    color: white;
    font-size: 60px;
}

hr {
    border: 2px solid black;
    width: 50%;
}

#social-links {
    font-size: 0;
}

#social-links a {
    opacity: 0;
}

@keyframes fdsseq {
    100% {
        opacity: 1;
    }
}

#social-links a {
    animation: fdsseq .5s forwards;
}

#social-links a:nth-child(1) {
    animation-delay: 0.7s;
}

#social-links a:nth-child(2) {
    animation-delay: 1.4s;
}

#social-links a:nth-child(3) {
    animation-delay: 2.1s;
}

#social-links a:nth-child(4) {
    animation-delay: 2.8s;
}

@media only screen and (max-width: 600px) {
    hr {
        border: 2px solid black;
        width: 70%;
    }
    .bottom-icon {
        font-size: 30px;
    }
    .bottom-icon :hover {
        font-size: 40px;
    }
}