<!-- <section id="single-article" class="single-article">
    <div class="blog-post">
        <div class="blog-post-img">
            <img src="../../../../assets/images/vps.jpg">
        </div>
        <div class="blog-post-info">
            <div class="blog-post-date">
                <span>Sunday</span>
                <span>October 27 2019</span>
            </div>
            <h1 class="blog-post-title">Dheeraj Thodupunuri</h1>
            <p class="blog-post-text">
                Dheeraj Thodupunuri
            </p>
            <a href="#" class="blog-post-read">Read more</a>
        </div>
    </div>
</section> -->