<section class="footer" id="footer">
    <a href="#introduction" class="bottom-icon"><i class="fa fa-chevron-circle-up"></i></a>
    <div class="social-links" id="social-links">
        <a href="https://www.linkedin.com/in/dheeraj-thodupunuri-39897b114/" class="links"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/dheerajthodupunoori?tab=repositories" class="links"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/thodupunooridheeraj/" class="links"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/DheerajDiraj" class="links"><i class="fa fa-twitter"></i></a>
        <a href="https://dheerajthodupunoori.medium.com/" class="links"><i class="fa fa-medium"></i></a>
    </div>
    <span> &#169; Copyright 2021 - Dheeraj Thodupunuri</span>
</section>