section {
    background-color: rgb(49, 45, 45);
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a.links {
    padding-right: 20px;
    color: rgb(202, 35, 13);
    font-size: 40px;
}

a.links:hover {
    color: white;
    transition: ease-in 0.4s;
}

#social-links {
    font-size: 0;
}

#social-links a {
    opacity: 0;
}

@keyframes fdsseq {
    100% {
        opacity: 1;
    }
}

#social-links a {
    animation: fdsseq .5s forwards;
}

#social-links a:nth-child(1) {
    animation-delay: 0.7s;
}

#social-links a:nth-child(2) {
    animation-delay: 1.4s;
}

#social-links a:nth-child(3) {
    animation-delay: 2.1s;
}

#social-links a:nth-child(4) {
    animation-delay: 2.8s;
}

#social-links a:nth-child(5) {
    animation-delay: 3.5s;
}

span {
    color: white;
    padding: 10px;
}

.bottom-icon {
    font-size: 50px;
    color: white;
    bottom: 0px;
}

.bottom-icon :hover {
    font-size: 60px;
    transition: ease-in 0.4s;
    color: rgb(202, 35, 13);
}

@media only screen and (max-width: 600px) {
    .bottom-icon {
        font-size: 30px;
    }
    .bottom-icon :hover {
        font-size: 40px;
        transition: ease-in 0.4s;
    }
}