<section id="work-experience" class="work-experience">
    <span class="section-title" style="text-align: center;">Work Experience</span>
    <div class="timeline">
        <div class="container left">
            <div class="content">
                <h2 class="title-left">October 26 2020</h2>
                <h3 class="title-left">Factset | Software Engineer II</h3>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>July 20 2019</h2>
                <h3>EPAM System | Software Engineer</h3>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <h2 class="title-left">July 16 2018</h2>
                <h3 class="title-left">EPAM Systems | Junior Software Engineer</h3>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>2012</h2>
                <h3>Chidhagni Consultancies | Intern</h3>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
    </div>
</section>