<div class="flip-card">
    <div class="flip-card-inner" (click)="cardClicked()" [@cardFlip]="state">
        <div class="flip-card-front">
            <h1>EPAM Systems</h1>
            <h2>Junior Software Engineer</h2>
            <h3>July 16 2018 - July 19 2019</h3>
            <h4>Project Radian</h4>
            <h4>Read more</h4>
        </div>
        <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
        </div>
    </div>
</div>