<div class="flip-card" data-toggle="tooltip" data-placement="top" title="Click to read more">
    <div class="flip-card-inner" (click)="cardClicked()" [@cardFlip]="state">
        <div class="flip-card-front" id="flip-card-front">
            <h1>{{experience.front.CompanyName}}</h1>
            <h2>{{experience.front.Role}}</h2>
            <h3>{{experience.front.Period}}</h3>
            <h4 *ngFor="let project of experience.front.Projects">{{project}}</h4>
            <h4>Read more</h4>
        </div>
        <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
        </div>
    </div>
</div>