.flip-card {
    background-color: transparent;
    width: 50%;
    height: 300px;
    perspective: 1000px;
    border-radius: 5%;
    margin: 3% 3% 3% 25%;
}

@media only screen and (max-width: 600px) {
    .flip-card {
        background-color: transparent;
        width: 90%;
        height: 400px;
        perspective: 1000px;
        border-radius: 5%;
        margin: 3% 3% 3% 5%;
    }
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
    /* border: 3px solid; */
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.flip-card:hover {
    cursor: pointer;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    background: url(src/assets/images/epam1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.flip-card-back {
    /* background-color: dodgerblue; */
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: auto;
}

.flip-card-back::-webkit-scrollbar-track {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 2px 0;
    background-color: #404040;
}

.flip-card-back::-webkit-scrollbar {
    width: 10px;
}

.flip-card-back::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #737272;
    border: 1px solid #000;
}